@mixin display-mixin($gap, $direction){
    display: flex;
    gap: $gap;
    flex-direction: $direction;
}

@mixin position-margin-mixin($margin-top, $margin-right, $margin-bottom, $margin-left){
    margin: $margin-top $margin-right $margin-bottom $margin-left;
}

@mixin position-padding-mixin($padding-top, $padding-right, $padding-bottom, $padding-left){
    padding: $padding-top $padding-right $padding-bottom $padding-left;
}

@mixin list-decoration(){
    list-style: none;
    padding: 0;
}

@mixin border-style-mixin($border, $radius, $background, $padding){
    border: $border;
    border-radius: $radius;
    background: $background;
    padding: $padding;
}

@mixin font-mixin($size, $color, $weight, $align){
    font-size: $size;
    color: $color;
    font-weight: $weight;
    text-align: $align;
}