$width-left-navigation: 288px;
$height-left-navigation: 100%;

$height-left-navigation-search: 40px;

$width-main-navigation: 1088px;
$padding-top-main: 6px;

$checkbox-size: 20px;
$control-width: 504px;
$control-height: 36px;
$btn-size: 36px;

