<nav class="administration-navigation">
    <a class="administration-navigation__link" routerLink="/administration/main" routerLinkActive="active">Main</a>
    <a class="administration-navigation__link" routerLink="/administration/access" routerLinkActive="active">Access Rights</a>
    <a class="administration-navigation__link" routerLink="/administration/groups" routerLinkActive="active">Form on Starting the Application</a>
    <a class="administration-navigation__link" routerLink="/administration/interactionTabs" routerLinkActive="active">Groups</a>
    <a class="administration-navigation__link" routerLink="/administration/interactions" routerLinkActive="active">Interaction Tabs</a>
    <a class="administration-navigation__link" routerLink="/administration/myNotes" routerLinkActive="active">Interactions</a>
    <a class="administration-navigation__link" routerLink="/administration/settings" routerLinkActive="active">My Notes</a>
    <a class="administration-navigation__link" routerLink="/administration/startingTheAplication" routerLinkActive="active">Settings</a>
    <a class="administration-navigation__link" routerLink="/administration/tasks" routerLinkActive="active">Tasks</a>
</nav>