<section class="toolbar">
    <div class="toolbar__list">
        <button class="list__item__btn"><img src="./assets/icons/menu-2_icon.svg" class="list__item__img" width="16" height="16"></button>
        <button class="list__item__btn"><img src="./assets/icons/message_icon.svg" class="list__item__img" width="16" height="16"></button>
        <button class="list__item__btn">Sales Rules</button>
        <button class="list__item__btn">Start Interview</button>
        <select class="list__item__btn select__btn">
            <option>Generate</option>
            <option>Therd</option>
        </select>
        <img class="select-box__icon" src="./assets/icons/chevron_icon.svg" alt="Arrow Icon"  width="16" height="16">
        <button class="list__item__btn"><img src="./assets/icons/add user_icon.svg" class="list__item__img" width="16" height="16"></button>
        <button class="list__item__btn"><img src="./assets/icons/add event_icon.svg" class="list__item__img" width="16" height="16"></button>
        <button class="list__item__btn"><img src="./assets/icons/dots-horizontal_icon.svg" class="list__item__img" width="16" height="16"></button>
        <button class="list__item__btn"><img src="./assets/icons/dots-horizontal_icon.svg" class="list__item__img" width="16" height="16"></button>
    </div>
    <div class="toolbar__btn-container">
        <button class="btn-container__btn">Save</button>
        <button class="btn-container__btn close">Save and Close</button>
    </div>
</section>